<!-- David --> 
<div id = "signup" style='padding: 40px;'> 
  <h2>Add Item</h2>
  <md-content>
  <h3 style='padding-left: 2%'>Item for Rent</h3>
  <form name="addItemForm" ng-submit='addItem()'>

    <!-- <input type="hidden" value='{{user.id}}'></input>
    <md-input-container flex>
      <label>Phone Number</label>
      <input type="text" ng-model = 'userform.phoneNumber' required/>
    </md-input-container> -->

    <!-- <input type='text'ng-model='itemForm.name'/> -->
    <md-input-container flex>
      <label>Name</label>
      <input type="text" ng-model = 'itemForm.name' required/>
    </md-input-container>

    <!-- <input type="text" ng-model='itemForm.description'/> -->
    <md-input-container flex>
      <label>Description</label>
      <input type="text" ng-model = 'itemForm.description' required/>
    </md-input-container>
    
    <!-- <input type="number" ng-model='itemForm.price'/> -->
    <md-input-container flex>
      <label>Price</label>
      <input type="number" ng-model = 'itemForm.price' required/>
    </md-input-container>

    <md-input-container flex>
      <div class="space-top text-center">
        <md-button type='submit' ng-disabled="form-register.$invalid" class="md-raised md-primary btn done">
          <i class="material-icons left"></i> Add Item
        </md-button>
      </div>
    </md-input-container>
  </form>
  </md-content>

</div>
<md-button class="md-primary md-fab md-fab-top-right md-hue-2" style='margin-top: 50px;'>
  <a href="#/homepage" style='font-size: 85%; color: white'>Home</a>
</md-button>
